lab2_2 (1).json
{
  "name": "lab2.2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eb28f0b4-a3b3-48b2-8b28-da4c3fd876a7",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        160
      ],
      "id": "33370d12-9b55-4826-bb47-6bc404efeb21",
      "name": "Webhook",
      "webhookId": "eb28f0b4-a3b3-48b2-8b28-da4c3fd876a7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nHere is the user chat info:\n\n{{ $json.body.text || 'Hola' }}\n\nthe time is now {{ $now }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are the personal AI assistant of a veterinary hospital named ¨Pequitas\",Our services include:\nBeauty:\n- Basic cat bath.\n- Basic dog bath.\n- Full cat service.\n- Full dog service.\n\nCheckup: We can check that your pet is completely healthy.\n\nOur location is in Medellín, Colombia, specifically at the University of Antioquia.\n\nOur business hours are:\n- Monday to Friday, 8 am to 6 pm.\n\nAlways remember to include a welcome message with the company name and ask what service they need, reply in the language spoken, don't give all the information at once and you can use following tools is complete user´s request\nremember get the user dates like the email, name and phone number before  agend the event, and after agend the event and set a reording to this email.\nrespond whith a message of comfirmation.\n\n \n\n## Available Tools\n\n- Google calendar create event\n\n- Gmail draft email\n\nSi el usuario menciona directamente un servicio, como \"baño básico para gato\", responde con un saludo, confirma el servicio, y solicita su nombre, email y número de teléfono para agendar una cita.\n\nCuando el usuario agende un servicio, debes:\n- Definir el nombre del evento como `eventName`.\n- Definir la hora de inicio como `eventStartTime` y la de fin como `eventEndTime`.\n- Crear un correo de confirmación usando las variables `To`, `emailSubject` y `emailBody`.\n\nEjemplo de evento:\neventName: Baño básico para gato\neventStartTime: 2025-05-28T10:00:00-05:00\neventEndTime: 2025-05-28T11:00:00-05:00\nTo: elcorreo@ejemplo.com\nemailSubject: Confirmación de cita con Pequitas\nemailBody: Hola [Nombre], tu cita para baño básico de gato ha sido agendada para el [día] a las [hora].\n\nHaz esto automáticamente cuando tengas los datos del usuario."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        320,
        160
      ],
      "id": "be9d2313-cdf3-46a6-9230-afd37c70246a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        320
      ],
      "id": "ffb4a50f-31d5-4dcd-9c29-bf804de9b8b3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pjDBhmFBhrIwFSAs",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "chat-session",
        "contextWindowLength": 100000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        380,
        380
      ],
      "id": "a2bb5d0d-b467-4555-b4a0-6b9e0eb003ba",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "use the tool create a new calendar event",
        "calendar": {
          "__rl": true,
          "value": "elio.merlon04@gmail.com",
          "mode": "list",
          "cachedResultName": "elio.merlon04@gmail.com"
        },
        "start": "={{ $fromAI(\"eventStartTime\",\"it is the event starting time\") }}",
        "end": "={{ $fromAI(\"eventEndTime\",\"it is the event ending time\") }}",
        "additionalFields": {
          "summary": "={{ $fromAI(\"eventName\",\"the name of the calendar event\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        520,
        400
      ],
      "id": "3a2712ee-64d7-47ff-836c-838703861698",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "EsNa5vzi4uvNf6hf",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Email tool",
        "sendTo": "={{ $fromAI('To', ``, 'string') }}",
        "subject": "={{ $fromAI(\"emailSubject\",\"it is the email subject\") }}",
        "emailType": "text",
        "message": "={{ $fromAI(\"emailBody\",\"it is the email message body\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        640,
        380
      ],
      "id": "edaaf8d4-d377-47bb-b7fc-e9efb868ca0c",
      "name": "Gmail",
      "webhookId": "77d2c107-4212-465f-a87d-f5ea12b51bd3",
      "credentials": {
        "gmailOAuth2": {
          "id": "LWS4Liz3CKwH27Jy",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        780,
        160
      ],
      "id": "caeb7b2d-be68-4f73-a59a-a4c564333778",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "67ea0bf3-64bc-44d9-a637-f4603ff925f8",
  "meta": {
    "instanceId": "8ef47b257145797d719062e73f87f86d7874eda24ce618aa22d0ab7b7502dc2b"
  },
  "id": "y67Cp6SCl706jmcn",
  "tags": []
}